@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body{
	background-color: #ffa490;
	display: grid;
	align-items:center;
	justify-content: center;
	min-height: 100vh;
}

h1{
	color: #e76f54;
}

a{
	color: #ffe9e4;
	text-decoration: none;
	margin: 10px;
}